/* Section Education */
.section-education {
  padding: 60px 0;
  position: relative;
  background-color: #000000;
  color: #fff;
  overflow: hidden;
}

.section-education::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  top: 15%;
  right: -176px;
  background: #006BB7;
  border-radius: 50%;
  filter: blur(400px);
  opacity: 0.5;
  z-index: 1;
}

.section-education::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  bottom: 10%;
  left: -150px;
  background: #006BB7;
  border-radius: 50%;
  filter: blur(400px);
  opacity: 0.5;
  z-index: 1;
}

.container-education {
  max-width: 100%;
  padding: 0 120px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.section-title {
  font-family: 'GothamHTF-Medium', sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #ACC1CC;
}
.content-columns {
  display: flex;
  gap: 50px;
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  z-index: 2;
}
.education-text {
  flex: 1;
}
.education-info {
  flex: 1;
}
/* Estilo de texto */
.section-description,
.education-info p {
  font-family: 'GothamHTF-Book', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ACC1CC;
}
/* Imagem e legenda */
.education-figure {
  margin-top: 20px;
  margin-bottom: 10px;
}
.education-img {
  width: 100%;
  display: block;
}
figcaption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  color: #ACC1CC;
}
/* Listas */
.education-list {
  list-style: none;
  margin: 20px 0;
}
.education-list-item {
  font-family: 'GothamHTF-Book', sans-serif;
  margin-bottom: 15px;
  font-size: 20px;
  color: #ACC1CC;
}
.slash {
  color: #ED145B;
  font-weight: bold;
  margin-right: 6px;
}
.sub-list {
  list-style: none;
  margin: 10px 0 20px 20px;
}
.sub-list li {
  font-family: 'GothamHTF-Book', sans-serif;
  margin-bottom: 5px;
  font-size: 18px;
  color: #ED145B;
}
.bullet {
  color: #ED145B;
  margin-right: 6px;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .section-education {
    padding: 40px 0;
    background: linear-gradient(90deg, #000000 -20%, #101010 100%);
  }
  
  .section-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff;
  }
  
  .section-description,
  .education-info p {
    font-size: 16px;
    color: #ACC1CC;
  }
  
  figcaption {
    font-size: 12px;
    color: #ACC1CC;
  }
  
  .education-list-item {
    font-size: 16px;
    color: #ACC1CC;
  }
  
  .sub-list li {
    font-size: 14px;
    color: #ED145B;
  }
  
  .container-education {
    padding: 0 15px;
  }
  
  .content-columns {
    flex-direction: column;
    gap: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Regras para dispositivos muito pequenos */
@media (max-width: 480px) {
  .section-education {
    padding: 30px 0;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}