@font-face {
    font-family: 'GothamHTF-Black';
    src: url('../assets/fonts/GothamHTF-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-Bold';
    src: url('../assets/fonts/GothamHTF-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-Book';
    src: url('../assets/fonts/GothamHTF-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-Light';
    src: url('../assets/fonts/GothamHTF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-Medium';
    src: url('../assets/fonts/GothamHTF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-Thin';
    src: url('../assets/fonts/GothamHTF-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-Ultra';
    src: url('../assets/fonts/GothamHTF-Ultra.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamHTF-XLight';
    src: url('../assets/fonts/GothamHTF-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }

/* Roboto Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-thinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-lightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-mediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-boldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-blackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

  