@font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-Ultra.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF';
    src: url('/assets/fonts/GothamHTF-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }