.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    padding: 0 120px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(16, 16, 16, 0)),
      url('/assets/imgs/header.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .text__container{
    text-align: left;
    max-width: 909px;
  }
  
  .title__magenta{
    font-family: 'GothamHTF-Medium', sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #ED145B;
    margin-bottom: 20px;
  }
  
  .subtitle__bold {
    font-family: 'GothamHTF-Medium', sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #ACC1CC !important;
    margin-bottom: 20px;
  }
  
  
  .description {
      font-family: 'GothamHTF-Book', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #ACC1CC;
      max-width: 600px;
      margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .hero {
      padding: 0 20px;
      align-items: flex-start;
      height: auto;
      min-height: 75vh;
      background: linear-gradient(180deg, rgba(0, 0, 0, 1) 30%, rgba(16, 16, 16, 0.7)),
        url('/assets/imgs/header.jpg');
      background-size: cover;
      background-position: center;
      justify-content: flex-start;
      text-align: left;
    }
    
    .text__container {
      max-width: 100%;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 50px;
    }
    
    .title__magenta,
    .subtitle__bold {
      font-size: 36px;
      text-align: left;
    }
    
    .description {
      font-size: 16px;
      max-width: 100%;
      text-align: left;
    }
    
    .scroll-down-container {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .hero {
      padding: 0 15px;
      min-height: 65vh;
    }
    
    .title__magenta,
    .subtitle__bold {
      font-size: 28px;
      -webkit-text-stroke: 1px #ED145B;
    }
    
    .subtitle__bold {
      color: #ACC1CC !important;
      -webkit-text-stroke: 0;
    }
    
    .description {
      font-size: 16px;
    }
  }
  
  

  

  
  
  
  