.structure {
  position: relative;
  background-color: #000; /* fundo principal */
  padding: 80px 20px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}

.structure .section-title {
  font-family: 'GothamHTF-Book', sans-serif;
  font-size: 2.5rem;
  color: #D6E6F2;
  text-align: left;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.accordion-item {
  border-top: 2px solid #ffffff50;
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.accordion-item.open {
  border-top: 2px solid #ED145B; /* magenta */
}

.accordion-header {
  width: 100%;
  padding: 20px 0;
  background: none;
  border: none;
  font-family: 'GothamHTF-Bold', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}

.accordion-item.open .accordion-header {
  color: #ED145B; /* magenta quando aberto */
}

.accordion-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  font-family: 'GothamHTF-Book', sans-serif;
  font-size: 1rem;
  color: #D6E6F2;
  padding: 0 0;
}

.accordion-item.open .accordion-content {
  max-height: 1000px;
  opacity: 1;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .structure {
    padding: 60px 20px;
  }
  
  .structure .section-title {
    font-size: 2rem;
  }
  
  .accordion-header {
    font-size: 1rem;
  }
}

